<div class="layout">
    <div class="content" style="margin-top: 20px; margin-left:130px;">
      <div>
        <div class="madiv">
          <div>
            <h4>Statistiques des Posts par Utilisateur</h4>
            <canvas id="postChart"></canvas> <!-- Canvas pour afficher le graphique des posts -->
          </div>
          <div>
            <h4>Statistiques des Messages par Utilisateur</h4>
            <canvas id="messageChart"></canvas> <!-- Canvas pour afficher le graphique des messages -->
          </div>
        </div>
      </div>
    </div>
  </div>
  