<div class="layoutMessaging">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-md-4 border-end">
        <div class="user-list-card p-3 h-100 overflow-auto">
          <div class="user-card d-flex align-items-center p-2 mb-2 border rounded"
            [ngClass]="user?.email === selectedUser?.email ? 'active' : ''" *ngFor="let user of userList"
            (click)="selectUserHandler(user?.email || '')">
            <img [src]="'https://5e94-2001-861-36c9-6a40-894-7475-54d8-6da5.ngrok-free.app/' + user?.photo" [alt]="user?.firstName" class="rounded-circle me-2"
              style="width: 40px; height: 40px;" />
            <p class="username m-0">{{ user?.firstName }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-8 d-flex flex-column" style="width:65%;">
        <div class="chat-container d-flex flex-column flex-grow-1">
          <ng-container *ngIf="selectedUser">
            <div class="chat-header d-flex align-items-center p-2 border-bottom">
              <img [src]="'https://5e94-2001-861-36c9-6a40-894-7475-54d8-6da5.ngrok-free.app/' + selectedUser?.photo" [alt]="selectedUser?.firstName"
                class="rounded-circle me-2" style="width: 40px; height: 40px;" />
              <p class="username m-0">{{ selectedUser?.firstName }}</p>
            </div>
            <div class="chat-body flex-grow-1 p-3 overflow-auto">
              <div *ngFor="let item of messageArray" class="d-flex mb-2" [ngClass]="{
       'same-user': item?.user === currentUser?.firstName, 
       'sent': item?.user === currentUser?.firstName, 
       'received': item?.user !== currentUser?.firstName
     }">

                <div *ngIf="item?.user === currentUser?.firstName" class="d-flex">
                  <div class="message-container">
                    <p style="font-size:12px;" class="message-text m-0">{{ item?.message }}</p>
                  </div>
                  <img [src]="'https://5e94-2001-861-36c9-6a40-894-7475-54d8-6da5.ngrok-free.app/' + currentUser?.photo" alt="Photo utilisateur"
                    class="rounded-circle ms-2" style="width: 30px; height: 30px;" />
                </div>
                <div *ngIf="item?.user !== currentUser?.firstName" class="d-flex">
                  <img [src]="'https://5e94-2001-861-36c9-6a40-894-7475-54d8-6da5.ngrok-free.app/' + selectedUser?.photo" alt="Photo utilisateur"
                    class="rounded-circle me-2" style="width: 30px; height: 30px;" />
                  <div class="message-container">
                    <p style="font-size:12px;" class="message-text m-0">{{ item?.message }}</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="chat-footer p-2 border-top">
              <div class="row g-2">
                <div class="col-10">
                  <input type="text" placeholder="Écrire un message" class="form-control" [(ngModel)]="messageText"
                    (keyup)="$event.keyCode === 13 && sendMessage()" />
                </div>
                <div class="col-2 text-center align-self-center">
                  <button class="btn btn-primary w-100" (click)="sendMessage()">Envoyer</button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>