<div class="homepage">
  <div class="container text-center mt-5">
    <div class="row">
      <!-- Colonne de gauche : Titre et description -->
      <div class="col-md-6 text-start">
        <h1 class="text-success">
          Bienvenue sur FaceBike <i class="fa-solid fa-bicycle"></i>
        </h1>
        <p>Le réseau social pour les passionnés des véhicules à deux roues.</p>
      </div>

      <!-- Colonne de droite : Formulaire de connexion -->
      <div class="col-md-6 text-end">
        <div class="card text-center mb-3" style="width: 18rem">
          <div class="card-body">
            <form (ngSubmit)="onLogin()">
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nom d'utilisateur"
                  [(ngModel)]="username"
                  name="username"
                  required
                />
              </div>
              <div class="mb-3">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Mot de passe"
                  [(ngModel)]="password"
                  name="password"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary btn-success">Se connecter</button>
              <br />
              <a href="javascript:void(0);" (click)="openModal()" class="pwd">Mot de passe oublié ?</a>
            </form>
            <div *ngIf="showEmailField" class="mb-3">
              <input type="email" class="form-control" id="email" placeholder="Votre email" [(ngModel)]="email" name="email" required />
              <button  (click)="resetPassword()"class="btn btn-primary btn-success">Envoyer</button>
            </div>
            <hr />
            <button type="button" (click)="navigateToSignup()" class="btn btn-primary btn-warning">
              Créer un nouveau compte
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Div pour l'email à afficher avec ngIf -->

